@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #fba6ff;
	color: white;
	font-family: "Inter", sans-serif;
}
article {
	display: flex;
	flex-direction: row;
	background-color: #131313;
	padding: 32px 27px;
	border-radius: 24px;
}
.h {
	padding-bottom: 33px;
    font-size: 24px;
    font-weight: 300;
}
.paragraphe {
	display: flex;
	flex-direction: column;
}
.para-pink {
	border-radius: 12px;
	background-color: #272727;
	border-left: 10px #ff00ee solid;
	padding: 19px 29px 209px 39px;
	margin-right: 58px;
}
span {
	color: #ea00ff;
	font-weight: 900;
	font-size: 18px;
	padding-right: 15px;
}
p {
	width: 513px;
}
.video-sect {
	display: flex;
	flex-direction: column;
}
.f-r {
	display: flex;
	flex-direction: row;
	gap: 33px;
	margin-top: 35px;
}
button {
	color: #51dd6b;
    background-color: #5FFF4921;
	border: #51dd6b 1px solid;
	border-radius: 99px;
	padding: 7px 35px;
}
iframe {
    height: 350px;
    border-radius: 12px;
    border: 0;
}
